
// 修改element-ui 主体
// element-ui 主体样式变量查看 /docs/element-var.scss
$--color-primary: #184EE2;




// 自定义变量
// 背景色
$bgColor: red;
// 按钮颜色
$blueColor: #184EE2;
// 文字颜色
$fontColor:#555658;
// 边框颜色
$boderColor:#dbdbdb;
